<%- include('../partials/header') %>

<section id="show-page">
  <div><%= movie.title %></div>


</section>
<br><br>
<% if(user) { %>
  <form id="add-review-form" method="POST"
    action="/movies/<%= movie._id %>/reviews">
    <label>Comment:</label>
    <textarea name="content"></textarea>
   
    <input type="submit" value="Yell Comment">
  </form>
<% } %>


<% if (movie.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Comment</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% movie.reviews.forEach(function(r) { %>
        <tr>
          <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td>
            <% if (user?._id.equals(r.user)) { %>
              <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">DELETE</button>
              </form>
                <a href="/reviews/<%=r._id%>/edit">Edit</a>
            
            <% } %>
          </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="3"></td>
      </tr>
    </tbody>
  </table>
  
<% } else { %>
  <h5>No Comments Yet</h5>
<% } %>
  
<%- include('../partials/footer') %>
